<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Microphone for Jay voice commands -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Internet for Jay's online AI brain -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Allows Jay to open other apps -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:label="Jay"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>
